<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md-6 border border-dark p-4">
			<form id="forgot-form" class="forgot-form">
				<h2 class="mb-4">Cambiar Contrase単a</h2>

				<div class="form-group">
					<label for="username">Usuario:</label>
					<input
						type="text"
						class="form-control"
						id="username"
						name="username"
						required
					/>
				</div>

				<div class="form-group">
					<label for="newPassword">Nueva Contrase単a:</label>
					<input
						type="password"
						class="form-control"
						id="newPassword"
						name="newPassword"
						required
					/>
				</div>

				<div class="form-group">
					<label for="newTwoPassword">Repita su Contrase単a:</label>
					<input
						type="password"
						class="form-control"
						id="newTwoPassword"
						name="newTwoPassword"
						required
					/>
				</div>

				<button
					class="btn btn-primary btn-block mt-2"
					id="forgot"
					type="submit"
				>Cambiar Contrase単a</button>
			</form>
		</div>
	</div>
</div>
<script src="js/forgot.js"></script>